.custom-form {
    display: flex;
    padding: 15px 20px;

    &__input {
        height: 50px;
        width: 70%;
        border: 2px solid rgba(221, 221, 221, 0.462);
        border-radius: 5px;
        font-size: 24px;
        padding-left: 15px;
        outline: none;
        margin-right: 20px;

        &:focus {
            box-shadow: 0px 0px 13px -1px rgba(116, 183, 191, 0.75);
        }
    }

    &__button {
        margin-left: auto;
        border-radius: 5px;
        width: 200px;
        font-size: 24px;
        cursor: pointer;
        background-color: rgb(54, 118, 206);
        color: #fff;
        border: none;

        &:focus {
            box-shadow: 0px 0px 13px -1px rgba(116, 183, 191, 0.75);
        }

        outline: none;
    }

}

@media (max-width: 475px) {
    .custom-form {
        &__input {
            font-size: 18px;
        }
    }
}