.aside {
    text-align: center;
    background-color: rgb(27, 27, 56);
    width: 300px;

    &__title {
        color: #fff;
        font-size: 32px;
        text-transform: uppercase;
        padding-top: 20px;
    }

    &__text {
        color: rgb(209, 209, 209);
        padding-top: 10px;
        display: inline-block;
    }
}

@media (max-width: 695px) {
    .aside {
        width: 100%;
        padding-bottom: 20px;
        border-radius: 5px;
        margin-top: 10px;
        width: 90%;
        margin: 10px auto;
    }
}