.visible {
    display: block;
}

.hidden {
    display: none;
}

.my-color-picker {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.789);
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.my-picker {
    z-index: 10002;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 10%;
}

@media (max-width: 575px) {
    .photoshop-picker {
        width: 325px !important;
    }

}