.item-list {
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.item {
    min-height: 75px;
    border: 2px solid rgba(221, 221, 221, 0.462);
    border-bottom: 1px solid rgba(221, 221, 221, 0.462);
    border-radius: 5px;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    display: flex;
    cursor: pointer;

    &__name {
        padding: 28px 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    &__count {
        position: absolute;
        top: 5%;
        left: 35%;
    }

    &__count-container {
        background-color: rgb(83, 139, 196);
        width: 40px;
        height: 30px;
        position: relative;
        border-radius: 45%;
        margin-left: auto;
        margin-top: 28px;
        margin-right: 30px;
    }

    &__button {
        margin-right: 30px;
        height: 55px;
        margin-top: 10px;
        width: 130px;
        font-size: 20px;
        border: 2px solid tomato;
        border-radius: 5px;
        color: rgb(255, 123, 100);
        background: #fff;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: tomato;
            color: #fff;
        }
    }
}

.active {
    border-left: 7px solid rgb(169, 19, 124);
}